<!DOCTYPE html>
<html>
  <head>
    <%= render(:partial => "shared/shared_head") %>
  </head>
  <body>
    
    <%= render(:partial => "shared/template_header") %>
    <div id="menu_div" style="position: fixed; top: 187px; left:0px; bottom: 7px; width:150px; ">
      <div style="clear:both; height: 20px"> &nbsp</div>
      <% if session[:user_id] %>
      <div style="clear:both; background-color: #FD3; padding-left: 10px">
        <% begin %>
          <% current_user = User.find_by_id(session[:user_id]) %>
          <% if current_user %>
            <p> You are logged in as user <%= current_user.name %> </p>
          <% else %>
            <p> Session error - please log in again </p>
          <% end %>
        <% rescue => e %>
          <p> User lookup error - please log in again </p>
        <% end %>
      </div>
      <% end %>
      <div id ="flash" style="padding: 3px 13px 3px 13px">
      </div>
      <div style ="width: 150px; position:  absolute;bottom:0;">
        <p style="text-align: center; font-size: 25%;"> </p>
        <%= render(:partial => "shared/copyright") %>
      </div>
    </div>
    <div id="content_div" class="content_div" style="position: fixed;  top: 187px; left: 166px; right:0px; bottom:7px; overflow: auto;">
      <div id ="session_div">
      </div>
      <%=  yield %>
    </div>
</body>
</html>
